---
import CarrerSection from "@/components/CarrerSection";
import CertificationsSection from "@/components/CertificationsSection";
import EducationSection from "@/components/EducationSection";
import ExperienceSection from "@/components/ExperienceSection";
import Footer from "@/components/Footer";
import GlassHeader from "@/components/GlassHeader";
import HeroSection from "@/components/HeroSection";
import SkillsSection from "@/components/SkillsSection";
import CurriculumSection from "@/components/CurriculumSection";
import Layout from "@/layouts/Layout.astro";

---

<Layout>
  <GlassHeader client:only="react" />
  <main class="min-h-screen">
    <HeroSection client:only="react" />
    <CarrerSection client:only="react" />
    <ExperienceSection client:only="react" />
    <SkillsSection client:only="react" />
    <!-- <ProjectsSection client:only="react" /> -->
    <EducationSection client:only="react" />
    <CertificationsSection client:only="react" />
    <CurriculumSection client:only="react" />
    <!-- <AwardsSection client:only="react" /> -->
  </main>
  <Footer client:only="react" />
</Layout>
